@model CursoInicianteMvc.Models.Tarefa

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{ <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css"> }

@section Scripts
{
    <script type="text/javascript" src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-table/dist/locale/bootstrap-table-pt-BR.min.js"></script>
    <script>
    function btnAcoes(id, row){
        const urlDetalhes = $("input#url-detalhes");        
        
        let html = `<a href="${urlDetalhes.val().concat("/").concat(id)}" class="btn btn-primary">Detalhes</a>`        
        
        if (!row.realizadoEm){
            const urlEditar = $("input#url-editar");
            const urlExcluir = $("input#url-excluir");        
            html += `
                <a href="${urlEditar.val().concat("/").concat(id)}" class="btn btn-info">Editar</a>
                <a href="${urlExcluir.val().concat("/").concat(id)}" class="btn btn-danger">Excluir</a>
            `
        }
        return html;
    }
    
    function formatarData(id){
        if (id)
            return new Date(id).toLocaleDateString();
        return "Não realizada ainda";
    }
    </script>
}

<input type="hidden" id="url-editar" value="@Url.Action("Edit", "Subtarefa")">
<input type="hidden" id="url-detalhes" value="@Url.Action("Details", "Subtarefa")">
<input type="hidden" id="url-excluir" value="@Url.Action("Delete", "Subtarefa")">


<div class="row">
    <div class="card">
        <div class="card-header d-flex py-3">
            <div class="card-title flex-grow-1">
                <h4>Detalhes da Tarefa: @Model.Descricao</h4>
            </div>
            @{
                if (!Model.RealizadoEm.HasValue)
                {
                    <form asp-controller="Tarefa" asp-action="Concluir" method="post">
                        <button class="mx-1 btn btn-primary" value="@Model.Id" name="@nameof(Model.Id)">Concluir</button>
                    </form>
                    <a asp-controller="Subtarefa" asp-action="Create" asp-route-tarefaId="@Model?.Id" class="mx-1 btn btn-primary">Nova Sub-Tarefa</a>
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class=" btn btn-primary">Editar</a>
                }
            }
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="PessoaId" class="form-label"></label>
                        <input asp-for="Pessoa.Nome" class="form-control-plaintext" readonly="readonly"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="RealizadoEm" class="form-label"></label>
                        <input asp-for="RealizadoEm" class="form-control-plaintext" readonly="readonly"/>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">
            <table
                class="table"
                data-toggle="table"
                data-url="@Url.Action("Search", "Subtarefa", new { tarefaId = Model.Id })"
                data-pagination="true"
                data-side-pagination="server"
                data-locale="pt-BR"
                data-search="true">
                <thead>
                <th data-title="Descrição" data-field="descricao" data-sortable="true" data-sort-name="Descricao"></th>
                <th data-title="Realizado Em" data-field="realizadoEm" data-sortable="true" data-sort-name="RealizadoEm" data-formatter="formatarData"></th>
                <th data-title="#" data-field="id" data-formatter="btnAcoes" data-align="center"></th>
                </thead>
            </table>
        </div>
        <div class="card-footer">
            <a asp-controller="Pessoa" asp-action="Details" asp-route-id="@Model.PessoaId" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</div>