@model CursoInicianteMvc.Models.TarefaDetalharViewModel

@{
    ViewData["Title"] = "Detalhes da Tarefa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{ <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css"> }

@section Scripts
{
    <script type="text/javascript" src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-table/dist/locale/bootstrap-table-pt-BR.min.js"></script>
    <script type="text/javascript" src="~/js/tarefa.details.js" asp-append-version="true"></script>
}

<input type="hidden" id="url-editar" value="@Url.Action("Edit", "Subtarefa")">
<input type="hidden" id="url-detalhes" value="@Url.Action("Details", "Subtarefa")">
<input type="hidden" id="url-excluir" value="@Url.Action("Delete", "Subtarefa")">


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex py-3">
                <div class="card-title flex-grow-1">
                    <h4>Detalhes da Tarefa: @Model.Descricao</h4>
                </div>
                @{
                    if (!Model.RealizadoEm.HasValue)
                    {
                        <div class="mx-1">
                            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Excluir</a>
                        </div>
                        <div class="mx-1">
                            <form asp-controller="Tarefa" asp-action="Finish" method="post">
                                <button class="mx-1 btn btn-primary" value="@Model.Id" name="@nameof(Model.Id)">Concluir</button>
                            </form>
                        </div>
                        
                        <div class="mx-1">
                            <a asp-action="Edit" asp-route-id="@Model?.Id" class=" btn btn-primary">Editar</a>
                        </div>
                    }
                }
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="PessoaId" class="form-label"></label>
                            <input asp-for="PessoaNome" class="form-control-plaintext" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="RealizadoEm" class="form-label"></label>
                            <input asp-for="RealizadoEm" class="form-control-plaintext" readonly="readonly"/>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body">
                @{ @(await Html.PartialAsync("_Subtarefas", Model.Id))}
            </div>
            <div class="card-footer d-flex">
                <div><a asp-controller="Pessoa" asp-action="Details" asp-route-id="@Model.PessoaId" class="btn btn-secondary">Voltar</a></div>
                @if (!Model.RealizadoEm.HasValue)
                {
                    <div class="ms-auto"><a asp-controller="Subtarefa" asp-action="Create" asp-route-tarefaId="@Model?.Id" class="mx-1 btn btn-info">Nova Sub-Tarefa</a></div>
                }
            </div>
        </div>
    </div>

</div>